html,
<body>
  <!-- Video Background -->
  <video playsinline autoplay muted loop id="bgvid" style="position: fixed; right: 0; bottom: 0; min-width: 100%; min-height: 100%; z-index: -100;">
    <source src="path/to/your-video.mp4" type="video/mp4">
  </video>

  <!-- Content -->
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="container content">
        <h1>Oops??</h1>
        <h3>Something went wrong. let me know: <a href="mailto:robin@robinjanssens.net?subject=Website not found!!&body=Hey Robin,%0D%0A%0D%0AI tried reaching __________, but something seems wrong.%0D%0A%0D%0ASincerely,%0D%0A__________">robin@robinjanssens.net</a></h3>
        
        <div class="introduction-item col-md-4">
          <h2>Robin Janssens</h2>
          <p><a class="btn btn-default btn-lg" href="http://robinjanssens.net" role="button">Go to website &raquo;</a></p>
        </div>
        <div class="introduction-item col-md-4">
          <h2>LVSV Antwerpen</h2>
          <p><a class="btn btn-default btn-lg" href="http://lvsvantwerpen.be" role="button">Go to website &raquo;</a></p>
        </div>
        <div class="introduction-item col-md-4">
          <h2>Carl Reusens</h2>
          <p><a class="btn btn-default btn-lg" href="http://carlreusens.com" role="button">Go to website &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</body>

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.9);
          box-shadow: inset 0 0 100px rgba(0,0,0,.9);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.content {
  display: inline-block;
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
  background: rgba(255, 255, 255, .5);
  padding: 20px 20px 40px 20px;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #000000;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: transparent;
  border: 1px solid #000000;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'stencil';
  font-size: 50px;
}
